.flex {
    display: flex;
    gap: 3vh;
    flex-grow: 1;
}

.flex_column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    /* flex: 1 0 60%; */
}

.flex h1 {
    font-size: 50px;
}

.column1 {
    flex-grow:1;
}

@media screen and (max-width:960px) {
    .flex {
        flex-wrap: wrap;
    }
    .flex_column {
        width: 100%;
    }
    .flex div h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 590px) {
    .flex,
    .flex_column {
        gap:1.5vh
    }
}